@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables shadcn */
@layer base {
  :root {
    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 240 5% 10%;
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
  }
  @keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}
body {
  background-image: radial-gradient(circle at 10% 20%, rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 24px 24px;
}
}