@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables shadcn */
@layer base {
  :root {
    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 240 5% 10%;
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
  }
}